{% extends 'base/base.html' %}
{% load static %}
{% block content %}

  <div class="site-hero">
    <div class="container">
      <div class="row align-items-center">
        <figure>
          <img src="{% static 'images/dj.jpg' %}" alt="Image" class="img-fluid">
        </figure>
        <div class="col-lg-7">
          <div class="heading mb-3">DJ Kathy Music Fest</div>
          <div class="w-75">
            <p class="mb-5">Events every night, join with us! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, ad!</p>
            <p><a href="#" class="btn btn-outline-primary">Join Us</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto" data-aos="fade-up">
          <h2 class="mb-5">Featured Events</h2>
          
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="0">
          <div class="event">
            <a href="#">
              <img src="{% static 'images/img_1.jpg' %}" alt="Image" class="img-fluid">
              <div class="date">
                <span>
                  <span>19</span>
                  <span>Jun</span>
                </span>
              </div>
            </a>
            <h3><a href="#">Slamp Party</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, veritatis a nobis qui tempore necessitatibus.</p>
            <p><a href="#" class="more">Info</a></p>
          </div>
        </div>
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="event">
            <a href="#">
              <img src="{% static 'images/img_2.jpg' %}" alt="Image" class="img-fluid">
              <div class="date">
                <span>
                  <span>24</span>
                  <span>Jun</span>
                </span>
              </div>
            </a>
            <h3><a href="#">Love For My City</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, veritatis a nobis qui tempore necessitatibus.</p>
            <p><a href="#" class="more">Info</a></p>
          </div>
        </div>
        
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="event">
            <a href="#">
              <img src="{% static 'images/img_3.jpg' %}" alt="Image" class="img-fluid">
              <div class="date">
                <span>
                  <span>8</span>
                  <span>Jul</span>
                </span>
              </div>
            </a>
            <h3><a href="#">Music Night Fest Party</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, veritatis a nobis qui tempore necessitatibus.</p>
            <p><a href="#" class="more">Info</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section">
    
    <div class="container">
      
      <div class="row">
        <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto" data-aos="fade-up">
          <h2 class="mb-5">Upcomcing Events</h2>
        </div>
      </div>
      
      <div class="site-block-retro d-block d-md-flex">
        
        <a href="#" class="col1 unit-9 no-height" data-aos="fade-up" data-aos-delay="100">
          <div class="image" style="background-image: url('{% static 'images/img_2.jpg' %}');"></div>
          <div class="unit-9-content">
            <h2>Classic Songs For Classic People</h2>
          </div>
        </a>
        
        <div class="col2 ml-auto">
          
          <a href="#" class="col2-row1 unit-9 no-height" data-aos="fade-up" data-aos-delay="200">
            <div class="image" style="background-image: url('{% static 'images/img_3.jpg' %}');"></div>
            <div class="unit-9-content">
              <h2>Classic Songs For Classic People</h2>
            </div>
          </a>
          
          <a href="#" class="col2-row2 unit-9 no-height" data-aos="fade-up" data-aos-delay="300">
            <div class="image" style="background-image: url('{% static 'images/img_1.jpg' %}');"></div>
            <div class="unit-9-content">
              <h2>Classic Songs For Classic People</h2>
            </div>
          </a>
          
        </div>
        
      </div>
      
    </div>
  </div>

  <section class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 video-wrap mb-5">
          <img src="{% static 'images/img_4.jpg' %}" alt="Image placeholder" class="img-fluid">
          <a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo btn-video"><span class="icon-play"></span></a>
        </div>
        <div class="col-md-6 pl-md-5">
          <div class="site-section-heading">
            <h2>We Love Music</h2>            
          </div>
          <p class="lead">Join with us today</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam facere a excepturi quod impedit rerum ipsum totam incidunt, necessitatibus id veritatis maiores quos saepe dolore commodi magnam fugiat. Incidunt, omnis.</p>
          <p class="mb-4">Nobis quae eaque facere architecto eligendi, voluptas quasi, blanditiis aperiam possimus inventore quis nam! Cupiditate necessitatibus, voluptatem excepturi placeat exercitationem quos vitae ut vero dolorem, provident sit odio porro facere.</p>
          <p><a href="#" class="btn btn-primary">Join Us</a></p>
        </div>
      </div>
    </div>
  </section>

 {% endblock content %}